h1 {
  text-align: center;
  font-size: 100px;
  font-family: monospace;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: monospace;
  text-decoration: underline;
}

h3 {
  text-align: center;
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.speak {
  border: solid black;
  margin: 20px;
}

#banner {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  position: relative;
}

#speak-return {
  text-align: center;
}

.btn {
  margin-left: 50px;
}

#story {
  display: none;
}

form.initally-hidden {
  display:none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
  color: pink;
}

.initially-hidden {
  display: none;
}


p {
  text-align: center;
}

#personalityQuiz {
  display: none;
}
