h1 {
  text-align: center;
  font-size: 60px;
  font-family: monospace;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: monospace;
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#speak {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 20px;
  border-width: medium;
  border: solid #000;
  position: relative;
}

#speak-return {
  text-align: center;
}

.photo-credit {
  font-size: 10px;
}
